<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    canvas {
        position: absolute;
        width: 100%;
        height: 100%;
    }
</style>
<body>
</body>
</html>